<nav>
    <div class="nav-style">
        <p>ArtiZen</p>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="#all-blogs">All Blogs</a>
        <a href="blogs/createblog">New Blog</a>
    </div>
    <div class="img-box">
        <img class="home-img" src="/istockphoto-1255470247-612x612.jpg" alt="homeimg">
        <div class="text">
            Welcome to our Blogging Haven<br>Where passionate Writers Connect,Stories Unfold,and
            ideas Inspire.
        </div>
    </div>
</nav> 