<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

   


   <div  class="errbg">

        <div class="errmsg">
            <h1 class="four">Meow... Error 404</h1>
            <h2>We couldn't find what you were looking for.<br> Maybe the cat chased it away!"</h2>
        </div>

        <div class="errimg">
            <img src="/cat.jpg" alt="errimg">
        </div>

    </div>

    

</body>
</html>