<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<body>
    
    <nav>
        <div class="nav-style">
            <p>ArtiZen</p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/#all-blogs">All Blogs</a>
            <a href="#">SingIn</a>
        </div>
        <div class="img-box">
            <img class="home-img" src="/istockphoto-1255470247-612x612.jpg" alt="homeimg">
            <div class="text">
                Welcome to our Blogging Haven<br>Where passionate Writers Connect,Stories Unfold,and
                ideas Inspire.
            </div>
        </div>
    </nav> 



   <div>
        <p class="about-content">
         Become a blogger and share your unique perspective,insights,and stories with the world,leaving a lasting
         impact on others.Unleash your creativity,entertain,empower,making a difference one blog post at a time.
        </p>
   </div>


   <div>

        <div class="three-container">


            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/beautician.webp" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Beautician</p>
                    <p class="content">Discovering the artistry of beauty in every face</p>
                </div>

                <a class="delete" href="https://intothegloss.com/">Related Blogs</a>

            </div>


            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/coding.webp" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Coding</p>
                    <p class="content">Embarking on a digital journey through lines of code</p>
                </div>

                <a class="delete" href="https://www.freecodecamp.org/">Related Blogs</a>

            </div>

            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/cooking.webp" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Cooking</p>
                    <p class="content">Exploring the flavors of the world,one recipe at a time.</p>
                </div>

                <a class="delete" href="https://www.seriouseats.com">Related Blogs</a>

            </div>

       

        </div>



        <div class="three-container">


            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/dance.jpg" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Dance</p>
                    <p class="content">Inspiring the world with the grace and beauty of dance.</p>
                </div>

                <a class="delete" href="https://www.dancespirit.com/">Related Blogs</a>

            </div>


            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/singing.jpg" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Singing</p>
                    <p class="content">Sharing the gift of music,one note at a time.</p>
                </div>

                <a class="delete" href="https://thevocaliststudio.com/">Related Blogs</a>

            </div>

            <div class="boxes">
           
                <div>
                    <img class="three-img" src="/study.jpeg" alt="beauty"> 
                </div>

                <div>
                    <p class="title">Studies</p>
                    <p class="content">Empowering minds through the journey of education.</p>
                </div>

                <a class="delete" href="https://www.khanacademy.org/">Related Blogs</a>

            </div>

       

        </div>
    
    
    </div>






</body>
</html>